# Types of Operator
Arithmetic Operators
Comparison (Relational) Operators
Assignment Operators
Logical Operators
Bitwise Operators
Membership Operators
Identity Operators

# Arithematic operator

In [2]:
# addition +
# multyply *
# Division /
# floor division /
# module %

In [3]:
"A"+"B"

'AB'

In [4]:
['sohail','arshad']+['fawad','arshad']

['sohail', 'arshad', 'fawad', 'arshad']

In [7]:
('sohail','arshad') + ('fawad'+'arshd')

TypeError: can only concatenate tuple (not "str") to tuple

In [8]:
2**3

8

In [9]:
"A"**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [10]:
"a"*3

'aaa'

# comparison operator

In [11]:
# ==
# >
# <
# >=
# <=
# !=
# <>

In [14]:
a=1
b=6
a=b
print(a)
print(b)

6
6

In [15]:
5>3

True

In [16]:
5>5

False

In [17]:
5>=5

True

In [18]:
'A'>'B'

False

In [19]:
'b'>'a'

True

In [20]:
'a'>'b'

False

In [21]:
'a'>'A'

True

In [22]:
ord('a')   #showing asci code

97

In [23]:
chr(65)    #showing character of asci code

'A'

In [24]:
3<=3

True

In [26]:
"Sohail"!="sohail"

True

# Assignment operator

In [27]:
# =
# +=
# -=
# /=
# //=
# **=
# %=

In [28]:
a=3
a=4
a=6
print(6)

6

In [29]:
a=1
a+=2
a+=3
a+=4
a+=5
a+=6
print(a)

21

In [30]:
a=100
a-=5
a-=10
print(a)

85

In [33]:
a=2
a**=2
a**=3
print(a)

64

# logical operator

In [34]:
# and &
# or   |
# not

In [35]:
userName=input("Enter your user name")
password=input("Enter your password")

userName=='admin'and password=='123'

Enter your user nameadmin
Enter your password123

True

In [37]:
userName=input("Enter your user name")
password=input("Enter your password")
userName==('sohail'or 'ali'or 'Muhammad') and password=='123'

Enter your user namefjjfh
Enter your password123

False

# Bitwise operators

# Member Ship operator

In [38]:
# in 
# not in

In [47]:
word=input("Enter ten words of your choise")
word = word.split()
if("Pakistan" in word):
        print("hello pakistan")
#         print(i)

Enter ten words of your choiseajkhad

In [53]:
userName=input("Enter user name: ")
password=input("Enter password: ")
if userName=='admin'and password=='123':
    print("Valid input")
else:
    print("Invalid input")

Enter user name: sojf
Enter password: 123
Invalid input