In [1]:
name='sohail Arshad'
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [8]:
a="sohail Arshad"
print(a.capitalize())
print(a.casefold())

Sohail arshad
sohail arshad

In [6]:
name='sohail'
new_name=name.center(10)
print(new_name)
len(new_name)

  sohail

10

In [16]:
name='arshad'
name=name.capitalize()
print(name)

name=name.center(21,'*')

print(name)
print(len(name))

Arshad
********Arshad*******
21

In [27]:
name='sohail'
name=name.capitalize().center(21,'&')
print(name)
fname='arshad'
fname=fname.capitalize().center(25,'$')
print(fname)
print(name.casefold())

&&&&&&&&Sohail&&&&&&&
$$$$$$$$$$Arshad$$$$$$$$$
&&&&&&&&sohail&&&&&&&

In [41]:
slogan='we love Pakistan and pakistan is our country,we have to work for PaKisTan'
print(slogan.count('pakistan'))
slogan=slogan.casefold()
print(slogan.count('pakistan'))

1
3

In [42]:
from encodings.aliases import aliases
aliases.keys()

dict_keys(['646', 'ansi_x3.4_1968', 'ansi_x3_4_1968', 'ansi_x3.4_1986', 'cp367', 'csascii', 'ibm367', 'iso646_us', 'iso_646.irv_1991', 'iso_ir_6', 'us', 'us_ascii', 'base64', 'base_64', 'big5_tw', 'csbig5', 'big5_hkscs', 'hkscs', 'bz2', '037', 'csibm037', 'ebcdic_cp_ca', 'ebcdic_cp_nl', 'ebcdic_cp_us', 'ebcdic_cp_wt', 'ibm037', 'ibm039', '1026', 'csibm1026', 'ibm1026', '1125', 'ibm1125', 'cp866u', 'ruscii', '1140', 'ibm1140', '1250', 'windows_1250', '1251', 'windows_1251', '1252', 'windows_1252', '1253', 'windows_1253', '1254', 'windows_1254', '1255', 'windows_1255', '1256', 'windows_1256', '1257', 'windows_1257', '1258', 'windows_1258', '273', 'ibm273', 'csibm273', '424', 'csibm424', 'ebcdic_cp_he', 'ibm424', '437', 'cspc8codepage437', 'ibm437', '500', 'csibm500', 'ebcdic_cp_be', 'ebcdic_cp_ch', 'ibm500', '775', 'cspc775baltic', 'ibm775', '850', 'cspc850multilingual', 'ibm850', '852', 'cspcp852', 'ibm852', '855', 'csibm855', 'ibm855', '857', 'csibm857', 'ibm857', '858', 'csibm858', 'ibm858', '860', 'csibm860', 'ibm860', '861', 'cp_is', 'csibm861', 'ibm861', '862', 'cspc862latinhebrew', 'ibm862', '863', 'csibm863', 'ibm863', '864', 'csibm864', 'ibm864', '865', 'csibm865', 'ibm865', '866', 'csibm866', 'ibm866', '869', 'cp_gr', 'csibm869', 'ibm869', '932', 'ms932', 'mskanji', 'ms_kanji', '949', 'ms949', 'uhc', '950', 'ms950', 'jisx0213', 'eucjis2004', 'euc_jis2004', 'eucjisx0213', 'eucjp', 'ujis', 'u_jis', 'euckr', 'korean', 'ksc5601', 'ks_c_5601', 'ks_c_5601_1987', 'ksx1001', 'ks_x_1001', 'gb18030_2000', 'chinese', 'csiso58gb231280', 'euc_cn', 'euccn', 'eucgb2312_cn', 'gb2312_1980', 'gb2312_80', 'iso_ir_58', '936', 'cp936', 'ms936', 'hex', 'roman8', 'r8', 'csHPRoman8', 'hzgb', 'hz_gb', 'hz_gb_2312', 'csiso2022jp', 'iso2022jp', 'iso_2022_jp', 'iso2022jp_1', 'iso_2022_jp_1', 'iso2022jp_2', 'iso_2022_jp_2', 'iso_2022_jp_2004', 'iso2022jp_2004', 'iso2022jp_3', 'iso_2022_jp_3', 'iso2022jp_ext', 'iso_2022_jp_ext', 'csiso2022kr', 'iso2022kr', 'iso_2022_kr', 'csisolatin6', 'iso_8859_10', 'iso_8859_10_1992', 'iso_ir_157', 'l6', 'latin6', 'thai', 'iso_8859_11', 'iso_8859_11_2001', 'iso_8859_13', 'l7', 'latin7', 'iso_8859_14', 'iso_8859_14_1998', 'iso_celtic', 'iso_ir_199', 'l8', 'latin8', 'iso_8859_15', 'l9', 'latin9', 'iso_8859_16', 'iso_8859_16_2001', 'iso_ir_226', 'l10', 'latin10', 'csisolatin2', 'iso_8859_2', 'iso_8859_2_1987', 'iso_ir_101', 'l2', 'latin2', 'csisolatin3', 'iso_8859_3', 'iso_8859_3_1988', 'iso_ir_109', 'l3', 'latin3', 'csisolatin4', 'iso_8859_4', 'iso_8859_4_1988', 'iso_ir_110', 'l4', 'latin4', 'csisolatincyrillic', 'cyrillic', 'iso_8859_5', 'iso_8859_5_1988', 'iso_ir_144', 'arabic', 'asmo_708', 'csisolatinarabic', 'ecma_114', 'iso_8859_6', 'iso_8859_6_1987', 'iso_ir_127', 'csisolatingreek', 'ecma_118', 'elot_928', 'greek', 'greek8', 'iso_8859_7', 'iso_8859_7_1987', 'iso_ir_126', 'csisolatinhebrew', 'hebrew', 'iso_8859_8', 'iso_8859_8_1988', 'iso_ir_138', 'csisolatin5', 'iso_8859_9', 'iso_8859_9_1989', 'iso_ir_148', 'l5', 'latin5', 'cp1361', 'ms1361', 'cskoi8r', 'kz_1048', 'rk1048', 'strk1048_2002', '8859', 'cp819', 'csisolatin1', 'ibm819', 'iso8859', 'iso8859_1', 'iso_8859_1', 'iso_8859_1_1987', 'iso_ir_100', 'l1', 'latin', 'latin1', 'maccyrillic', 'macgreek', 'maciceland', 'maccentraleurope', 'maclatin2', 'macintosh', 'macroman', 'macturkish', 'ansi', 'dbcs', 'csptcp154', 'pt154', 'cp154', 'cyrillic_asian', 'quopri', 'quoted_printable', 'quotedprintable', 'rot13', 'csshiftjis', 'shiftjis', 'sjis', 's_jis', 'shiftjis2004', 'sjis_2004', 's_jis_2004', 'shiftjisx0213', 'sjisx0213', 's_jisx0213', 'tis260', 'tis620', 'tis_620_0', 'tis_620_2529_0', 'tis_620_2529_1', 'iso_ir_166', 'u16', 'utf16', 'unicodebigunmarked', 'utf_16be', 'unicodelittleunmarked', 'utf_16le', 'u32', 'utf32', 'utf_32be', 'utf_32le', 'u7', 'utf7', 'unicode_1_1_utf_7', 'u8', 'utf', 'utf8', 'utf8_ucs2', 'utf8_ucs4', 'uu', 'zip', 'zlib', 'x_mac_japanese', 'x_mac_korean', 'x_mac_simp_chinese', 'x_mac_trad_chinese'])

In [52]:
string='My name is sohail Arshad'
print(string.encode('ansi_x3.4_1968' , 'strict'))
# encode method not working well

b'My name is sohail Arshad'

In [14]:
string='We live in Pakistan,I am PakistanI.'
print(string.endswith('Pakistani.'))
string=string.casefold()
print(string.endswith('pakistani.'))
print(len(string))
print(string[22])
print(string.endswith('am',22,24))

False
True
35
a
True

In [21]:
string="Hello every One"
print(string.startswith('hello'))
print(string.startswith('Hello'))
string=string.casefold()
print(string)
print(string.startswith('Hello'))
print(string.startswith('hello'))

False
True
hello every one
False
True

In [28]:
string='Twinkil twinkil Little star \n\t How I wonder what you are.'.lower()
print(string)
print(len(string))
n=input('Enter word you want to search : ').lower()
print(string.startswith(n))

twinkil twinkil little star
	 how i wonder what you are.
57
Enter word you want to search : TwinKiL
True

In [41]:
s='Impossible is Nothing'
print(s)
s=s.lower()
print(s)
s=s.upper()
print(s)
print(len(s))
print(s.capitalize())
print(s.center(25,'*'))
print(len(s))
s=s.center(25,'*')
print(s)
print(len(s))
s1='Capture more customers with a great brand recall'
print(s1.title())
print(s1)

Impossible is Nothing
impossible is nothing
IMPOSSIBLE IS NOTHING
21
Impossible is nothing
**IMPOSSIBLE IS NOTHING**
21
**IMPOSSIBLE IS NOTHING**
25
Capture More Customers With A Great Brand Recall
Capture more customers with a great brand recall

In [1]:
text='Technology is complicated. It’s complex and branches out in various directions.'
text.split()

['Technology',
 'is',
 'complicated.',
 'It’s',
 'complex',
 'and',
 'branches',
 'out',
 'in',
 'various',
 'directions.']

In [10]:
text='technology:is:complited'
print(text.split(':'))
print(text)
text1='technology,is,complited'
print(text1.split(','))
word='catbatsatratgat'
print([word[i:i+3] for i in range(0, len(word), 3)])
# whats going on in the upper statment

['technology', 'is', 'complited']
technology:is:complited
['technology', 'is', 'complited']
['cat', 'bat', 'sat', 'rat', 'gat']

In [17]:
text='Technology is complicated. It’s complex and branches out in various directions.'
print(text.rsplit())
text2='Python@is@object@oriented@programing@language'
print(text2.rsplit('@'))
print(text2.split('@'))
print(text2.rsplit('@',2))
print(text2.split('@',1))

['Technology', 'is', 'complicated.', 'It’s', 'complex', 'and', 'branches', 'out', 'in', 'various', 'directions.']
['Python', 'is', 'object', 'oriented', 'programing', 'language']
['Python', 'is', 'object', 'oriented', 'programing', 'language']
['Python@is@object@oriented', 'programing', 'language']
['Python', 'is@object@oriented@programing@language']

In [40]:
string='www.geekforgeeks.org'
print(string.strip('.org'))
string1='@@@@@@Sohail Arshad@@@@@@'
string2='        Sohail Arshad      '
print(string1.strip())
print(len(string1))
print(string1.strip('@'))
print(len(string1))
print(len(string2))
string2=string2.strip()
print(string2)
print(len(string2))
stringr='@My name is sohail Arshad@'
print(stringr.rstrip('@'))
stringrr='    I live in Islamabad    '
print(stringrr.rstrip())
print(stringrr.strip())
chk_string='technologyssss issss complex terminology and we have to understand thiss assss'
print(chk_string.strip('s'))
chk_string2='@My@name@is@sohail@arshad@'
print(chk_string2.strip('@'))
chk_string3='%my%name%is%sohail%arshad%I%live%in%islamabad%'
print(chk_string3.rstrip('%'))
print(chk_string3.lstrip('%'))

www.geekforgeeks
@@@@@@Sohail Arshad@@@@@@
25
Sohail Arshad
25
27
Sohail Arshad
13
@My name is sohail Arshad
    I live in Islamabad
I live in Islamabad
technologyssss issss complex terminology and we have to understand thiss a
My@name@is@sohail@arshad
%my%name%is%sohail%arshad%I%live%in%islamabad
my%name%is%sohail%arshad%I%live%in%islamabad%

In [42]:
chk_string2='@My@name@is@sohail@arshad@'
print(chk_string2.strip('@'))
print(chk_string2.lstrip('@'))
print(chk_string2.rstrip('@'))

My@name@is@sohail@arshad
My@name@is@sohail@arshad@
@My@name@is@sohail@arshad

In [21]:
string='welcome to \n pakistan, we are \r pakistani,belong to \r punjanb'
print(string.splitlines())
print(string.splitlines(0))
string2='technology changes \r our lives and now aday\n we can not live with\r out technology'
print(string2.splitlines())
print(string2.splitlines(0))
print(string2.splitlines(True))

['welcome to ', ' pakistan, we are ', ' pakistani,belong to ', ' punjanb']
['welcome to ', ' pakistan, we are ', ' pakistani,belong to ', ' punjanb']
['technology changes ', ' our lives and now aday', ' we can not live with', ' out technology']
['technology changes ', ' our lives and now aday', ' we can not live with', ' out technology']
['technology changes \r', ' our lives and now aday\n', ' we can not live with\r', ' out technology']

In [23]:
string2='technology changes our lives and now aday\n we can not live with out technology '
string2.split()

['technology',
 'changes',
 'our',
 'lives',
 'and',
 'now',
 'aday',
 'we',
 'can',
 'not',
 'live',
 'with',
 'out',
 'technology']

In [26]:
string="A man who ,dares: to waste ,one hour of: time has, not ,discovered the, value of ,life."
print(string.split())
print(string.split(':'))
print(string.split(','))

['A', 'man', 'who', ',dares:', 'to', 'waste', ',one', 'hour', 'of:', 'time', 'has,', 'not', ',discovered', 'the,', 'value', 'of', ',life.']
['A man who ,dares', ' to waste ,one hour of', ' time has, not ,discovered the, value of ,life.']
['A man who ', 'dares: to waste ', 'one hour of: time has', ' not ', 'discovered the', ' value of ', 'life.']

In [29]:
string="A man who dares to waste one hour of time has not discovered the value of life."
print(string.rsplit(" ",2))
print(string.rsplit(" ",4))
print(string.rsplit())

['A man who dares to waste one hour of time has not discovered the value', 'of', 'life.']
['A man who dares to waste one hour of time has not discovered', 'the', 'value', 'of', 'life.']
['A', 'man', 'who', 'dares', 'to', 'waste', 'one', 'hour', 'of', 'time', 'has', 'not', 'discovered', 'the', 'value', 'of', 'life.']

In [32]:
name='sohail arshad'
print(name.zfill(20))
number="604232"
print(number.zfill(12))

0000000sohail arshad
000000604232

In [37]:
name='sohail arshad'
print(name.swapcase())
name2="MUHAMMAD ARSHAD"
print(name2.swapcase())
name3="SOhaIL WarrAICh"
print(name3.swapcase())

SOHAIL ARSHAD
muhammad arshad
soHAil wARRaicH

In [45]:
string="My name is sohail arshad"
print(string.startswith('My name '))

True

In [50]:
quot='A man who dares has to waste one hour of time has not discovered has the value of life.'
print(quot.rpartition('has'))
print(quot.partition('has'))

('A man who dares has to waste one hour of time has not discovered ', 'has', ' the value of life.')
('A man who dares ', 'has', ' to waste one hour of time has not discovered has the value of life.')

In [51]:
name='sohail'
print(name.rjust(10,'@'))

@@@@sohail

In [53]:
name="sohail"
print(name.ljust(12,'*'))
print(name.center(12,'*'))

sohail******
***sohail***

In [67]:
text='A man who have dares has to waste have one hour of have time has not discovered has the has have value of life'
print(len(text))
print(text.rindex('has'))
print(text.index('has'))
print(text.index('has',25))
print(text.rindex('has',65,90))
print(text.rindex('has',80))
print(text[65:75])

110
88
21
61
80
88
not discov

In [81]:
text='A man who have dares has to waste have one hour of have time has not discovered has the has have value of life'
print(text.rfind('have'))
print(text.find('have'))
print(text.find('have',12,37))
print(text[12:37])

92
10
-1
ve dares has to waste hav

In [85]:
name='sohail'
print(len(name))
print(name[5])
print(name.replace('so','ra'))

6
l
rahail

In [88]:
name='My name is sohail arshad'
n='My name is '
x='my NAME IS '
print(name.maketrans(n,x))

{77: 109, 121: 121, 32: 32, 110: 78, 97: 65, 109: 77, 101: 69, 105: 73, 115: 83}

In [89]:
text="weeksyourweeks"
n='wy'
x='gf'
z='u'
print(text.maketrans(n,x,z))

{119: 103, 121: 102, 117: None}

In [90]:
string1="I AM"
string2="sohail Arshad"
print(string1.join(string2))

sI AMoI AMhI AMaI AMiI AMlI AM I AMAI AMrI AMsI AMhI AMaI AMd

In [95]:
t1=('1','2','3','4','5')
l1='sohail'
j='-'
j=j.join(t1)
print(j)
j1='%'
output=j1.join(l1)
print(output)

1-2-3-4-5
s%o%h%a%i%l

In [104]:
name='sohail arshad'
print(name.isupper())
print(name.islower())
name2="SOHAIL ARSHAD"
print(name2.isupper())
print(name2.islower())
city="ISlamabad"
print(city.istitle())
print(city.isupper())

False
True
True
False
False
False

In [109]:
string='12345677'
string2='djhasfjhjfh'
print(string.isnumeric())
print(string2.isnumeric())
print(string2.isdigit())
print(string.isdigit())

True
False
False
True

In [111]:
string='1234556'
print(string.isdigit())
print(string.isnumeric())

True
True

In [113]:
string='2.3,4.5,5.6,7.4,4.3'
print(string.isnumeric())
print(string.isdecimal())

False
False

In [117]:
s='2.3,4,5,6'
print(s.isdecimal())
s1='3,4,5,67,7,8,7,6'
print(s1.isdecimal())

False
False

In [119]:
s3='2345'
s3.isdecimal()

True

In [120]:
myname="sohail"
print(myname.isalpha())

True

In [121]:
myname1='sohail1'
myname1.isalpha()

False

In [134]:
myname2='sohail1'
print(myname2.isalnum())
name3='sohail arshad'
print(name3.isalpha())
dig='123def'
print(dig.isalpha())
print(dig.isalnum())
namee="sohailarshad&"
print(namee.isalpha())
print(namee.isalnum())

True
False
False
True
False
False

In [138]:
name1='sohail arshad'
name2='sohailWarraiCh'
digt='dsf3435sff34'
digt2='2323ssff34sfs'
print(name1.isidentifier())
print(name2.isidentifier())
print(digt.isidentifier())
print(digt2.isidentifier())

False
True
True
False

In [2]:
name=input('Enter your name : ')
print('My name is {}'.format(name))

Enter your name : sohail arshad
My name is sohail arshad

In [5]:
dict={'fname':'sohail','mname':'arshad','lname':'warraich'}
print('My full name is {fname} {mname} {lname}'.format_map(dict))

professional={'name':['ali','asim'],'profession':['engineer','doctor'],'age':[30,31]}
print("{name[0]} is {profession[0]} and he is {age[0]} years old and {name[1]} is {profession[1]} and he is {age[1]} years old \
".format_map(professional) )

My full name is sohail arshad warraich
ali is engineer and he is 30 years old and asim is doctor and he is 31 years old

In [30]:
string="hello \t i am sohail arshad"
print(string.expandtabs(12))
print(string)
print("hello \t i am sohail arshad".expandtabs(12))
print("hello \t i am sohail arshad")

hello        i am sohail arshad
hello 	 i am sohail arshad
hello        i am sohail arshad
hello 	 i am sohail arshad