In [1]:
print("Hello world")

Hello world

In [3]:
a=5
b=4.5
c=True
d=a/b
r=a//b
print(d)
print(r)
print(type(c))

1.1111111111111112
1.0
<class 'bool'>

In [1]:
print("Hello World")
print("Hello Pakistan")

Hello World
Hello Pakistan

In [2]:
name=input("Enter your name : ")
fname=input("Enter your father name : ")
age=input("Enter your age : ")
uni=input("University ")

card=f'''
Name : {name}
Father Name : {fname}
Age : {age}
University : {uni}

'''
print(card)

Enter your name : sohail
Enter your father name : Arshad
Enter your age : 23
University IIUI

Name : sohail
Father Name : Arshad
Age : 23
University : IIUI

In [5]:
name=input("Enter your name : ")
fname=input("Enter your father name : ")
age=input("Enter your age : ")
uni=input("University ")

card='''
Name : {}
Father Name : {}
Age : {}
University : {}

'''
card=card.format(name,fname,age,uni)
print(card)

Enter your name : sohail
Enter your father name : Arshad
Enter your age : 23
University IIUI

Name : sohail
Father Name : Arshad
Age : 23
University : IIUI

In [14]:
# Print("PIAIC Islamabad")
name=input("Enter your name : ")
fname=input("Enter your father name : ")
uni=input("University ")
phy=int(input("Enter your marks in physics : "))
che=int(input("Enter your marks in Chemistry : "))
ma=int(input("Enter your marks in Mathematics : "))
eng=int(input("Enter your marks in English : "))

reportCard='''
PIAIC Islamabad
Name : {}
Father Name : {}
University : {}
Physics : {}
Chemistry : {}
Math : {}
English : {}

'''
Total=phy+che+ma+eng
avg=Total/4
reportCard=reportCard.format(name,fname,uni,phy,che,ma,eng)
print(reportCard)
print(f"Your total marks are : {Total}")
print("You got {} % in your exam".format(avg))

Enter your name : sohail
Enter your father name : Arshad
University Bahria Islamabad
Enter your marks in physics : 56
Enter your marks in Chemistry : 76
Enter your marks in Mathematics : 87
Enter your marks in English : 98

PIAIC Islamabad
Name : sohail
Father Name : Arshad
University : Bahria Islamabad
Physics : 56
Chemistry : 76
Math : 87
English : 98


Your total marks are : 317
You got 79.25 % in your exam

In [15]:
print?

In [16]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [17]:
?print

# Build in Data Types

In [22]:
a=5
b=2.5
c=True
d=False
lst=[1,2,3,'sohail','islamabad']
typ=(5,6,4,4,'arshad','lahore')
dic={'name':'sohail','father name':'Muhammad Arshad','Age':23}
string="Welcome to Pakistan!"
print(string)
print(type(string))
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(lst)
print(type(lst))
print(dic)
print(type(dic))
print(typ)
print(type(typ))

Welcome to Pakistan!
<class 'str'>
5
<class 'int'>
2.5
<class 'float'>
True
<class 'bool'>
[1, 2, 3, 'sohail', 'islamabad']
<class 'list'>
{'name': 'sohail', 'father name': 'Muhammad Arshad', 'Age': 23}
<class 'dict'>
(5, 6, 4, 4, 'arshad', 'lahore')
<class 'tuple'>