# Dictionary

In [1]:
d1={
    'id':2,
    'name':'Sohail',
    'course':'AI'
    
}
print(d1)
print(type(d1))

{'id': 2, 'name': 'Sohail', 'course': 'AI'}
<class 'dict'>

In [2]:
d1={
    'id':20,
'name':'Sohail',
    'course':'AI',
    'id':200
    
}
print(d1)

{'id': 200, 'name': 'Sohail', 'course': 'AI'}

In [3]:
d1={}
d1['id']=1
d1['name']='waraich'
d1['course']='PIAIC'
d1

{'id': 1, 'name': 'waraich', 'course': 'PIAIC'}

In [4]:
d1={
    'id':20,
'name':'Sohail',
    'course':'AI',
    'id':200
    
}
print(d1)
d1.clear()
print(d1)

{'id': 200, 'name': 'Sohail', 'course': 'AI'}
{}

In [5]:
d1={
    'id':20,
'name':'Sohail',
    'course':'AI',
    'id':200
    
}
print(d1)
del d1
print(d1)

{'id': 200, 'name': 'Sohail', 'course': 'AI'}

NameError: name 'd1' is not defined

In [6]:
d1={
    'id':20,
'name':'Sohail',
    'course':'AI',
    'id':200
    
}
d2=d1.copy()
print(d1)
d1['name']='waraich'
print(d1)
print(d2)

{'id': 200, 'name': 'Sohail', 'course': 'AI'}
{'id': 200, 'name': 'waraich', 'course': 'AI'}
{'id': 200, 'name': 'Sohail', 'course': 'AI'}

In [7]:
l1=['name','contact','id','DOB','CNIC']
dict.fromkeys(l1)
# print(l1)

{'name': None, 'contact': None, 'id': None, 'DOB': None, 'CNIC': None}

In [8]:
l1 = ['name','id','contact','DOB','CNIC']

dict.fromkeys(l1)

{'name': None, 'id': None, 'contact': None, 'DOB': None, 'CNIC': None}

In [ ]:
l1=input('Enter keys')
l1=l1.split( )
d1={}
for i in l1:
    d1[i]=None
d1

In [9]:
l1=input('enter keys').split( )
d1=dict.fromkeys(l1)
d1

enter keysa b c d e

{'a': None, 'b': None, 'c': None, 'd': None, 'e': None}

In [11]:
l1=input('Enter Keys ').split( )
l2=input('Enter values ').split( )
d1={}
for i in range(len(l1)):
    d1[l1[i]]=l2[i]
d1

Enter Keys name id address
Enter values sohail 78 wah

{'name': 'sohail', 'id': '78', 'address': 'wah'}

In [12]:
l1=input("enter keys").split( )
l2=input("Enter values").split( )
d1={}
for i,j in zip(l1,l2):
#     d1[l1[i]]=l2[j]
    d1[i]=j
    
d1

enter keysname id contact
Enter valuessohail 78 78e79r7

{'name': 'sohail', 'id': '78', 'contact': '78e79r7'}

In [13]:
l1=input("enter keys").split( )
l2=input("enter values").split( )
d1={}
i=0
while i <(len(l1)):               # why this code is not running when i use <= sign while with only < this code works well
    d1[l1[i]] = l2[i]
    i+=1
d1

enter keysid name
enter values67 waraich

{'id': '67', 'name': 'waraich'}

In [20]:
l1=input('Enter Keys ').split( )
l2=input('Enter values ').split( )
d1={}
{l1[i]:l2[i] for i in range(len(l1))}
# [l1[i]:l2[i] for i in range(len(l1))]

Enter Keys a b c d e f
Enter values g h i j k l

{'a': 'g', 'b': 'h', 'c': 'i', 'd': 'j', 'e': 'k', 'f': 'l'}

In [21]:
l1=input("enter keys").split( )
l2=input("enter values").split( )
list(zip(l1,l2))

enter keysa b c
enter valuesd e f

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [22]:
l1=input("enter values ").split( )
l2=input("enter keys ").split( )
dict(zip(l1,l2))

enter values a b c
enter keys d e f

{'a': 'd', 'b': 'e', 'c': 'f'}

In [3]:
d1={}
name=input("enter name ")
iid=input("enter id ")
address=input("enter address ")
skill=list(input("enter skills ").split( ))
d1['name']=name
d1['id']=iid
d1['address']=address
d1['skills']=skill
d1

enter name sohail
enter id 1
enter address wah
enter skills c++ java python

{'name': 'sohail',
 'id': '1',
 'address': 'wah',
 'skills': ['c++', 'java', 'python']}

In [26]:
name=list(input("enter name ").split( ))
name

enter name w d c

['w', 'd', 'c']

In [5]:
a=[i for i in range(65,91)]
b=[i for i in range(97,123)]
c=[i for i in range(48,58)]
d=zip(a,b,c)
list(d)

[(65, 97, 48),
 (66, 98, 49),
 (67, 99, 50),
 (68, 100, 51),
 (69, 101, 52),
 (70, 102, 53),
 (71, 103, 54),
 (72, 104, 55),
 (73, 105, 56),
 (74, 106, 57)]

In [11]:
a=[chr(i) for i in range(65,91)]
b=[chr(i) for i in range(97,123)]
list(a+b)

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [12]:
a = [chr(i) for i in range(65,91)]
b = [chr(i) for i in range(97,123)]
c = [chr(i) for i in range(48,58)]

d = zip(a,sorted(b, reverse=True),c)


list(d)

[('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]

In [1]:
li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
x=list(filter(lambda i:(i%2 !=0),li))
x

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [8]:
students=[]

d1={}
rec=''
while rec !='no':
    d1['id']=input('enter student id ')
    d1['name']=input('enter student name')
    d1['skills']=list(input("Enter student skills").split( ))
    students.append(d1)
#     d1.append()

    rec=input("Enter more record yes|no : ")
print(students)
# print(d1)

enter student id 1
enter student namesohail
Enter student skillsc java
Enter more record yes|no : yes
enter student id 2
enter student nameaslam
Enter student skillsr c
Enter more record yes|no : no
[{'id': '2', 'name': 'aslam ', 'skills': ['r', 'c']}, {'id': '2', 'name': 'aslam ', 'skills': ['r', 'c']}]

In [ ]:
li=[5,7,5,4,3,2,3,78,99,76,54,34,23,22,54,65,76,12,23,34,45,56,67,78,31,32,43,54,64,73]
y=list(filter(lambda y:(y%2=0),li))
y

In [11]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [15]:
d={
    'a':6,
    'f':9,
    'c':8,
    'b':3,
    'e':7,
    'h':4
    
}
d1={}
for i in sorted(d.keys()):
    d1[i]=d[i]
print(d)
print(d1)

{'a': 6, 'f': 9, 'c': 8, 'b': 3, 'e': 7, 'h': 4}
{'a': 6, 'b': 3, 'c': 8, 'e': 7, 'f': 9, 'h': 4}

In [2]:
d={
    'a':6,
    'f':9,
    'c':8,
    'b':3,
    'e':7,
    'h':4
    
}
d1={}
for i in d:
    d1[i]=d[i]
d2=d1.copy()
print(d)
print(d1)
print(d2)

{'a': 6, 'f': 9, 'c': 8, 'b': 3, 'e': 7, 'h': 4}
{'a': 6, 'f': 9, 'c': 8, 'b': 3, 'e': 7, 'h': 4}
{'a': 6, 'f': 9, 'c': 8, 'b': 3, 'e': 7, 'h': 4}

In [8]:
a=[i for i in range(65,91)]
b=(i for i in range(97,123))   #what is the differene b/w a b and c dry run output differ
c=[(i for i in range(48,58))]
print(a)

[65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

In [9]:
a = [chr(i) for i in range(65,91)]
b = [chr(i) for i in range(97,123)]
c = [chr(i) for i in range(48,58)]

d = zip(a,sorted(b, reverse=True),c)


list(d)

[('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]

In [1]:

a = [chr(i) for i in range(65,91)]
b = [chr(i) for i in range(97,123)]
c = [chr(i) for i in range(48,58)]

d = zip(a,sorted(b, reverse=True),c)


list(d)

[('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]

In [3]:
d=[('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]
sorted(d,reverse=True)

[('J', 'q', '9'),
 ('I', 'r', '8'),
 ('H', 's', '7'),
 ('G', 't', '6'),
 ('F', 'u', '5'),
 ('E', 'v', '4'),
 ('D', 'w', '3'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [5]:
d=[('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]
sorted(d,reverse=True,key=lambda x:x[0])    #what is the funtion of key

[('J', 'q', '9'),
 ('I', 'r', '8'),
 ('H', 's', '7'),
 ('G', 't', '6'),
 ('F', 'u', '5'),
 ('E', 'v', '4'),
 ('D', 'w', '3'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [7]:
d = [('A', 'z', '0'),
     ('B', 'y', '1'),
     ('C', 'x', '2'),
     ('D', 'w', '4'),
     ('E', 'v', '3'),
     ('F', 'u', '5'),
     ('G', 't', '8'),
     ('H', 's', '7'),
     ('I', 'r', '6'),
     ('J', 'q', '9')]


def abc(x):
    return x[2]   


sorted(d, reverse=True,key=abc)
#abc(('A', 'z', '0'))
# whats going on in this code? dry run?

[('J', 'q', '9'),
 ('G', 't', '8'),
 ('H', 's', '7'),
 ('I', 'r', '6'),
 ('F', 'u', '5'),
 ('D', 'w', '4'),
 ('E', 'v', '3'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [8]:
d1={
    'a':1,
    'c':5,
    'b':2,
    'd':3
}

{k:v for k,v in sorted(d1.items(), key=lambda x:x[1], reverse=True) }

{'c': 5, 'd': 3, 'b': 2, 'a': 1}

In [9]:
d1={
    'a':1,
    'c':5,
    'b':2,
    'd':3
}

{k:v for k,v in sorted(d1.items(), reverse=True) }

{'d': 3, 'c': 5, 'b': 2, 'a': 1}