In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

5 + 8 # Operation
#Operators
    # +, - ,/ , * , %, ** 
    # = , +=, -=, /=, *=, %=
    # == , >, <, >=, <=
# 5, 8 Oprands

In [2]:
# PEMDAS 
5+7-8*2/5

8.8

In [3]:
3*3**4/4*6-3+8

369.5

In [6]:
a=8
b=8
print(id(a))
print(id(b))
a+=2
print(a)
print(id(a))

140735714337392
140735714337392
10
140735714337456

In [7]:
a=6
type(a)

int

In [8]:
a='2'
type(a)

str

In [9]:
a='''7'''
type(a)

str

In [10]:
'2'+'4'

'24'

In [11]:
a='pakistan'
a*2

'pakistanpakistan'

In [20]:
name=['ali','hamza','waqas',200,'junaid']
print(type(name))
print(name[3])
print(name[-1])
print(len(name))
print(name[::-1])

<class 'list'>
200
junaid
5
['junaid', 200, 'waqas', 'hamza', 'ali']

In [22]:
name=('ali','hamza','zafar',32)
type(name)

tuple

In [24]:
city={'karachi','lahore','islamabad','peshawar'}
print(type(city))
print(city[1])

<class 'set'>

TypeError: 'set' object is not subscriptable

In [28]:
city1=list(city)
city2=tuple(city)
print(type(city1))
print(city1[2])
print(city1)
print(city2)
print(type(city2))

<class 'list'>
islamabad
['karachi', 'lahore', 'islamabad', 'peshawar']
('karachi', 'lahore', 'islamabad', 'peshawar')
<class 'tuple'>

In [29]:
bio={'name':'sohail',
    'fname':'M Arshad',
    'city':'Islamabad'}
print(type(bio))
print(bio['fname'])

<class 'dict'>
M Arshad

In [32]:
name="Sohail Arshad"
print(name.capitalize())
print(name.title())
print(name.upper())

Sohail arshad
Sohail Arshad
SOHAIL ARSHAD

In [37]:
name="        Muhammad Arshad      "
print(name.strip())
print(name)
print(len(name))
print(name.lstrip())
print(name.rstrip())

Muhammad Arshad
        Muhammad Arshad
29
Muhammad Arshad
        Muhammad Arshad

In [39]:
name="sohail:arshad:warraich"
print(name.split(':'))

['sohail', 'arshad', 'warraich']

In [41]:
a="We are pakistani and we love our country"
print(len(a))
print(a.split())
print(a[::-1])

40
['We', 'are', 'pakistani', 'and', 'we', 'love', 'our', 'country']
yrtnuoc ruo evol ew dna inatsikap era eW

In [42]:

a = "390ulksadlj309u0jll"
"".join([i for i in a if str.isnumeric(i)])
# I can't get this whats going on

'3903090'

In [46]:
card=f'''
Name : {name}
father name: {fname}
city : {city}
Batch NO. : {bno}

'''
name=input("Enter your name: ")
fname=input("Enter your Father name: ")
city=input("Enter your city: ")
bno=input("Enter your Batch: ")
print(card)

Enter your name: Sohail Arshad
Enter your Father name: Muhammad Arshad
Enter your city: Islamabad
Enter your Batch: 03

Name : sohail arshad
father name: M Arshad
city : islamabad
Batch NO. : 03

In [48]:
card='''
Name : {}
father name: {}
city : {}
Batch NO. : {}

'''
name=input("Enter your name: ")
fname=input("Enter your Father name: ")
city=input("Enter your city: ")
bno=input("Enter your Batch: ")
print(card.format(name,fname,city,bno))

Enter your name: Sohail Arshad
Enter your Father name: Muhammad Arshad
Enter your city: Islamabad
Enter your Batch: 03

Name : Sohail Arshad
father name: Muhammad Arshad
city : Islamabad
Batch NO. : 03

In [49]:
card='''
Name : {b}
father name: {a}
city : {d}
Batch NO. : {c}

'''
name=input("Enter your name: ")
fname=input("Enter your Father name: ")
city=input("Enter your city: ")
bno=input("Enter your Batch: ")
print(card.format(a=name,b=fname,c=city,d=bno))

Enter your name: Sohail Arshad
Enter your Father name: Muhammad Arshad
Enter your city: Islamabad
Enter your Batch: 03

Name : Muhammad Arshad
father name: Sohail Arshad
city : 03
Batch NO. : Islamabad