# Functions
Pre define functions
User Define Functions
Recursive Functions
Lambda Functions
Required Arguments
Optional Arguments
Return
Non Return
Defualt Arguments
postional Arguments
KeyWord Arguments
Argument with List
Argument with Dictionary

# Pre define function

In [8]:
print('hello world')
print(type('a'))
print(id('a'))
print(sorted('alc'))
print(sum([1+3]))
print('hello pakistan')

hello world
<class 'str'>
2328084474736
['a', 'c', 'l']
4
hello pakistan

# User define function

In [11]:
def abc():
    print('pakistan zindabad')
    print('we are pakistani')
    print('we love our country')
abc()
abc()

pakistan zindabad
we are pakistani
we love our country
pakistan zindabad
we are pakistani
we love our country

# Reqired argument

In [13]:
def id_card(sid,sname,fname,course,timing):
    print(
        f'''
        PIAIC ISLAMABAD
        student ID : {sid}
        Student Name : {sname}
        Father Name : {fname}
        Course : {course}
        Timing : {timing}
        '''
    )

id_card(1,'sohail','arshad','AIC','12 to 3')
id_card(2,'aslam','pasha','AIC','12 to 3')

        PIAIC ISLAMABAD
        student ID : 1
        Student Name : sohail
        Father Name : arshad
        Course : AIC
        Timing : 12 to 3


        PIAIC ISLAMABAD
        student ID : 2
        Student Name : aslam
        Father Name : pasha
        Course : AIC
        Timing : 12 to 3

In [14]:
id_card(3,'waqas','12 to 3')

TypeError: id_card() missing 2 required positional arguments: 'course' and 'timing'

# Optional Argument

In [19]:
def plus(x,y=0,z=0):
    print(x,y,z)
    print(x+y+z)

plus(2)
plus(2,3)
# plus()

2 0 0
2
2 3 0
5

# Non Return function

In [20]:
a=print('pakistan')
print(a)

pakistan
None

In [28]:
def plus(x=0,y=0,z=0):
    return x+y+z    # only return first return value
    return x*y*z
plus()
plus(1,2,3)
plus(4,5,6)

15

In [32]:
def hello(a):
     print(f'hello {a}')
     return f'Hi {a}'
hello('pak')
hello('sohail')

hello pak
hello sohail

'Hi sohail'

In [33]:
def pls(x=0, y=0, z=0):
    return x+y+z # Alway return first return statment
    return x*y*z
    return x+y*z

a = pls(7,8)
b = pls(8,4,3)

print(a,b)

15 15

In [34]:
def pls(x=0,y=0,z=0):
    return x+y+z,x*y*z,x+y*z
pls(2,4,7)

(13, 56, 30)

# Keyword Arguments

In [35]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    course: {course}
    Timing: {timing}
    """)

id_card(11,"A.I","12 to 3","Arshad",'Sohail')

    PIAIC Islamabad
    Student id: 11
    Name: A.I
    Father's Name: 12 to 3
    course: Arshad
    Timing: Sohail

In [36]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    course: {course}
    Timing: {timing}
    """)

id_card(sid=11,course="A.I",timing="12 to 3",fname="Arshad",sname='Sohail')

    PIAIC Islamabad
    Student id: 11
    Name: Sohail
    Father's Name: Arshad
    course: A.I
    Timing: 12 to 3

In [38]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    course: {course}
    Timing: {timing}
    """)

id_card(11,'Sohail',course="A.I",timing="12 to 3",fname="Arshad")

    PIAIC Islamabad
    Student id: 11
    Name: Sohail
    Father's Name: Arshad
    course: A.I
    Timing: 12 to 3

In [39]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    course: {course}
    Timing: {timing}
    """)

id_card(11,'Sohail',course="A.I",timing="12 to 3","Arshad")

SyntaxError: positional argument follows keyword argument (<ipython-input-39-4f823b69ad33>, line 11)

# Pass Argument by List

In [46]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    course: {course}
    Timing: {timing}
    """)
    
l1=[1,'sohail','Arshad','AI','12 to 3']
l2=['Arshad','Aslam',3,'3 to 6','AI']
id_card(*l1)
id_card(*l2)
print(l2)
print(*l2)

    PIAIC Islamabad
    Student id: 1
    Name: sohail
    Father's Name: Arshad
    course: AI
    Timing: 12 to 3


    PIAIC Islamabad
    Student id: Arshad
    Name: Aslam
    Father's Name: 3
    course: 3 to 6
    Timing: AI

['Arshad', 'Aslam', 3, '3 to 6', 'AI']
Arshad Aslam 3 3 to 6 AI

# Pass Arguments by Dictionary

In [61]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    course: {course}
    Timing: {timing}
    """)
d1={
    'course': 'A.I',
    "timing":'12:30 to 03:30',
    'sname': 'Sohail',
    'fname':'Arshad',
    'sid':2
}
id_card(**d1)
print(d1)

    PIAIC Islamabad
    Student id: 2
    Name: Sohail
    Father's Name: Arshad
    course: A.I
    Timing: 12:30 to 03:30

{'course': 'A.I', 'timing': '12:30 to 03:30', 'sname': 'Sohail', 'fname': 'Arshad', 'sid': 2}

In [59]:
d={
    'name' :'sohail',
    'father name' :'Arshad'
}
print(d)
print(d['name'])
print(d['father name'])

{'name': 'sohail', 'father name': 'Arshad'}
sohail
Arshad

# Optional Parameters with List

In [63]:
def abc(name,*number):
    print(name)
    print(number)
    print(sum(number))
abc('sohail',2,4,5,6,78,9,10)

sohail
(2, 4, 5, 6, 78, 9, 10)
114

In [71]:
def x(*a,b,c):
    print(a)
    print(b)
    print(c)
    print(sum(a))
#     print(sum(b,c))    #why this statment is not execute,whats problem with this statment
    print(sum(a,b))
    print(sum(a,c))
#     print(sum(c,b))# same error here
x(1,2,3,4,5,b=4,c=9)

(1, 2, 3, 4, 5)
4
9
15
19
24

In [72]:
def abc(*number, name):
    print(name)
    print(number)
    print(sum(number))
    
abc(7,4,8,9, name="Sohail")

Sohail
(7, 4, 8, 9)
28

# Optional Parameters with Dictionary

In [73]:
def abc(name, **x):
    print(name)
    print(x)
    if 'b' in x.keys():
        print("Pakistan")
    
abc('sohail', a='aa', b='bb',c='cc')

sohail
{'a': 'aa', 'b': 'bb', 'c': 'cc'}
Pakistan

In [83]:
def xyz(city,**d):
    print(d)
    print(city)
dic={
    'name':'sohail',
    'Father name':'M Arshad'
}
xyz('islamabad',**dic)

{'name': 'sohail', 'Father name': 'M Arshad'}
islamabad

In [84]:

def abc(**kv, name):
    print(name)
    print(kv)
    if 'b' in kv.keys():
        print("Pakistan")
    
abc( a='aa', b='bb',c='cc', name='sohail')

SyntaxError: invalid syntax (<ipython-input-84-4277efad8c13>, line 1)

# Recursive function

In [1]:
def xyz(n):
    if n==1:
        return 1
    
    return n * xyz(n-1)



xyz(5)

#1*2*3*4*5=120
# I don't get what and why recursive function is?

120

# Lambda function

In [2]:
def abc(x,y):return x+y
abc(5,6)

11

In [4]:
abc=lambda x,y:x+y
abc(4,7)

11

In [5]:
x=lambda a,b,c:a*b*c
x(9,8,7)

504

# Generator function

In [6]:
def my_range(n):
    for i in range(1,n+1):
        yield i
        
        
a = my_range(10)        
print(a)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

list(a)
# I can't get this
# what generator function is

<generator object my_range at 0x00000227254C42C8>
1
2
3
4
5

[6, 7, 8, 9, 10]

In [7]:
def my_range(n):
    for i in range(1,n+1):
        if (i%5==0 and i%7==0 and i%15==0):
            yield i
        
        
a = my_range(1500)        

print(next(a))
print(next(a))
# ???????
# whats going on

105
210