# List

In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [6]:
names=['A','B','C']
print(names[0])
print(names[2])
print(len(names))
print(names[-1])

A
C
3
C

In [10]:
names=[]
names.append('A')
print(names)
names.append('B')
names.append('C')
print(names)
# append => Append object to the end of the list.

['A']
['A', 'B', 'C']

In [12]:
names=['A','B','C','D']
print(names)
names.clear()    #in memory function
print(names)

['A', 'B', 'C', 'D']
[]

In [18]:
names=['Ali','Hamza','waqas','sheer']
names1=names       #Shallow copy having same address
print(names1)
print(names)
names[0]='Pakistan'
names1.append('Zindabad')
print(names)
print(names1)

['Ali', 'Hamza', 'waqas', 'sheer']
['Ali', 'Hamza', 'waqas', 'sheer']
['Pakistan', 'Hamza', 'waqas', 'sheer', 'Zindabad']
['Pakistan', 'Hamza', 'waqas', 'sheer', 'Zindabad']

In [22]:
names=['A','B','C','D']
names1=names.copy()        #Deep copy
print(names1)
names1.append('Zindabad')
names[0]='Pakistan'
print(names)
print(names1)
names.append("Hello every one")
print(names)

['A', 'B', 'C', 'D']
['Pakistan', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 'Zindabad']
['Pakistan', 'B', 'C', 'D', 'Hello every one']

In [23]:
names=['a','b','c','d','e','f','a','d','e']
names.count('a')

2

In [27]:
l1=[1,2,4,5]
l2=[7,8,9,0]
print(l1+l2)  #Inline operation
print(l1.__add__(l2))    #Inline opearation
l3=l1+l2      #In memory operation
print(l3)

[1, 2, 4, 5, 7, 8, 9, 0]
[1, 2, 4, 5, 7, 8, 9, 0]
[1, 2, 4, 5, 7, 8, 9, 0]

In [30]:
l1=[3,4,5,6]
l2=[7,8,9,7,6,5]
l1.extend(l2)       #In memory operation
print(l1)
print(l2)

[3, 4, 5, 6, 7, 8, 9, 7, 6, 5]
[7, 8, 9, 7, 6, 5]

In [35]:
l1=['a','b','c','d','e','f','d','a','c','f']
print(l1.index('a',1))
print(l1.index('a'))
print(l1.index('f'))

7
0
5

In [2]:
l1=[]
l1.insert(1,'A')
print(l1)
l1.insert(5,'B')
print(len(l1))
print(l1.index('B'))
l1.insert(0,"a")
l1.insert(0,'b')
l1.insert(1,'c')
l1.insert(2,'d')
print(l1)

['A']
2
1
['b', 'c', 'd', 'a', 'A', 'B']

In [5]:
names=['a','b','c','d','e']
names.append('z')
print(names)
names.append('y')
print(names)
names.append(del names[-1])
print(names)

SyntaxError: invalid syntax (<ipython-input-5-54dc4914960e>, line 6)

In [6]:
a='pakistan'
print(a)
b=print('Zindabad')
print(b)

pakistan
Zindabad
None

In [13]:
l1=[1,2,3,4,5]
print(l1.pop())
print(l1.pop(-2))

5
3

In [27]:
names=[]
l1=['a','b','c','d']
a=l1.remove('c')     #non return
print(a)
print(l1)
b=l1.pop()       # return value
print(b)
l1.append("Z")
print(l1)
l1.append("x")
l1.append("y")
print(l1)
a=l1.pop()
names.append(a)
print(l1)
print(names)

None
['a', 'b', 'd']
d
['a', 'b', 'Z']
['a', 'b', 'Z', 'x', 'y']
['a', 'b', 'Z', 'x']
['y']

In [33]:
l1=[1,2,3,4,5,6,7,8,9]
l1.reverse()   #non return in memory
print(l1)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [37]:
a=[7,5,7,8,5,4,3,2,2,1,4,6,7]
a.sort()
print(a)
b=['a','c','f','g','d','c','e','j','k','l']
print(b)
b.sort()
print(b)
b.reverse()
print(b)

[1, 2, 2, 3, 4, 4, 5, 5, 6, 7, 7, 7, 8]
['a', 'c', 'f', 'g', 'd', 'c', 'e', 'j', 'k', 'l']
['a', 'c', 'c', 'd', 'e', 'f', 'g', 'j', 'k', 'l']
['l', 'k', 'j', 'g', 'f', 'e', 'd', 'c', 'c', 'a']

In [41]:
a=['a','b','c','d','g','h','k','y','r','e','w','q']
a.sort(reverse=True)
print(a)

['y', 'w', 'r', 'q', 'k', 'h', 'g', 'e', 'd', 'c', 'b', 'a']

In [44]:
a=['a','b','c','d','e','f','g']
x=a.__add__(['h','i','j','k','l'])
a.append(x)
print(a)

['a', 'b', 'c', 'd', 'e', 'f', 'g', ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']]

In [47]:
b=[1,2,4]
b.__add__([7,8,9])
# print(b)

[1, 2, 4, 7, 8, 9]

In [51]:
v=['1','s','f','g']
print(v.__class__)
print(v.__class__())

<class 'list'>
[]

In [53]:
l1=['a','d','f','g','h','j','f','g']
l1.__contains__('f')

True

In [54]:
l1=['a','d','f','g','h','j','f','g']
'f'in l1

True

In [57]:
l1=['a','d','f','g','h','j','f','g']
l1.__delitem__(0)
print(l1)

['d', 'f', 'g', 'h', 'j', 'f', 'g']

In [58]:
l1.__doc__

'Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.'

In [67]:
l1 = [5,8,9]
l2 = [3,2,1,7,'q']
l3 = [7,9,10]
l4 = [5,8,9]

print(l1.__eq__(l4))
print(l1.__ge__(l2))
print(l1.__len__())
# confusion whats going on in above functions

True
True
3

In [68]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [69]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Tuple

In [73]:
l1=(1,2,3)
print(type(l1))
l2=('a',)
print(type(l2))

<class 'tuple'>
<class 'tuple'>

In [78]:
l1=['a','b','c','d','e']
print(type(l1))
l1[0]='pakistan'
print(l1)
print(len(l1))
l1[4]='zindabad'
print(l1)

<class 'list'>
['pakistan', 'b', 'c', 'd', 'e']
5
['pakistan', 'b', 'c', 'd', 'zindabad']

In [81]:
l1=('a','b','c','d','e')
print(type(l1))
print(l1)
l1=('lahore','b','islamabad','d','e')
print(l1)

<class 'tuple'>
('a', 'b', 'c', 'd', 'e')
('lahore', 'b', 'islamabad', 'd', 'e')

# Loop While for

In [83]:
counter=1
while counter<=10:
    print("Pakistan Zindabad",counter)
    counter+=1

Pakistan Zindabad 1
Pakistan Zindabad 2
Pakistan Zindabad 3
Pakistan Zindabad 4
Pakistan Zindabad 5
Pakistan Zindabad 6
Pakistan Zindabad 7
Pakistan Zindabad 8
Pakistan Zindabad 9
Pakistan Zindabad 10

In [84]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
for i in range(1,11):
    print("pakistan",i)

pakistan 1
pakistan 2
pakistan 3
pakistan 4
pakistan 5
pakistan 6
pakistan 7
pakistan 8
pakistan 9
pakistan 10

In [90]:
['pakistan '+str(i) for i in range (1,11)]

['pakistan 1',
 'pakistan 2',
 'pakistan 3',
 'pakistan 4',
 'pakistan 5',
 'pakistan 6',
 'pakistan 7',
 'pakistan 8',
 'pakistan 9',
 'pakistan 10']

In [92]:
for i in range (1,11):
    print(f'2 X {i} = {2*i}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [93]:
tab=int(input("Enter which tabel do you want to print : "))
for i in range(1,11):
    print(f"{tab} X {i} = {tab*i}")

Enter which tabel do you want to print : 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [98]:
user = int(input("how many table do you want to print from table 2 : "))
for r in range(1,11):
    for t in range(1, user+1):
        print(f'{t}X{r}={r*t}', end='\t')
#         print()
    print()

how many table do you want to print from table 2 : 6
1X1=1	2X1=2	3X1=3	4X1=4	5X1=5	6X1=6
1X2=2	2X2=4	3X2=6	4X2=8	5X2=10	6X2=12
1X3=3	2X3=6	3X3=9	4X3=12	5X3=15	6X3=18
1X4=4	2X4=8	3X4=12	4X4=16	5X4=20	6X4=24
1X5=5	2X5=10	3X5=15	4X5=20	5X5=25	6X5=30
1X6=6	2X6=12	3X6=18	4X6=24	5X6=30	6X6=36
1X7=7	2X7=14	3X7=21	4X7=28	5X7=35	6X7=42
1X8=8	2X8=16	3X8=24	4X8=32	5X8=40	6X8=48
1X9=9	2X9=18	3X9=27	4X9=36	5X9=45	6X9=54
1X10=10	2X10=20	3X10=30	4X10=40	5X10=50	6X10=60