
# Types of operators

Arithmetic Operators
Comparison (Relational) Operators
Assignment Operators
Logical Operators
Bitwise Operators
Membership Operators
Identity Operators

## Arithmetic Operators
+ Addition - Subtraction * Multiplication / Division // floor Division % Modulus ** Power

In [1]:
2+2

4

In [2]:
3.4+2

5.4

In [3]:
2.1-2

0.10000000000000009

In [4]:
3-2.9

0.10000000000000009

In [5]:
'a'+'b'

'ab'

In [6]:
['sohail','arshad']+['fawad','arshad']

['sohail', 'arshad', 'fawad', 'arshad']

In [7]:
('Ali','Muhammad')+('Islamabad','Pakistan')

('Ali', 'Muhammad', 'Islamabad', 'Pakistan')

In [8]:
{'sohail','Ali'}+{'jawad','Shakir'}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [10]:
{'Fname':'sohail',"MName":"Arshad"}+{'city':'islamabad','country':'Pakistan'}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [11]:
5-2

3

In [12]:
4.5-7.8

-3.3

In [13]:
"AB"-"B"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [14]:
"ab"+"c"

'abc'

In [15]:
[1,2,3,4]-[3,4]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [16]:
(1,2,3,4)-(4)

TypeError: unsupported operand type(s) for -: 'tuple' and 'int'

In [17]:
{1,2,3,4,5,6}-{5,6}

{1, 2, 3, 4}

In [18]:
{'Fname':'sohail',"MName":"Arshad",'lname':'Warraich'}-{'MName':'Arshad'}

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [19]:
{'a','b','c'}-{'c'}

{'a', 'b'}

In [20]:
2*4

8

In [21]:
4.5*6

27.0

In [22]:
'sohail'*3

'sohailsohailsohail'

In [23]:
["sohail"]*3

['sohail', 'sohail', 'sohail']

In [24]:
["sohail"*3]

['sohailsohailsohail']

In [28]:
a=('sohail')*2
print(a)
print(type(a))

sohailsohail
<class 'str'>

In [30]:
b=('sohail','arshad')
print(type(b))

<class 'tuple'>

In [31]:
('sohail','arshad')*3

('sohail', 'arshad', 'sohail', 'arshad', 'sohail', 'arshad')

In [32]:
{'a','b','c'}*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [33]:
12/4

3.0

In [34]:
23.5/6.5

3.6153846153846154

In [35]:
11/3

3.6666666666666665

In [36]:
11//3

3

In [37]:
print(type((1,2,3)))

<class 'tuple'>

In [38]:
(1,2,3)*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [39]:
(1,2,3)/3

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [40]:
(1,2,4)/(2,3)

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [41]:
(1,2,3,4)*(5)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [42]:
(1,2,4,5)*(3,4,5)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [43]:
2**3

8

In [44]:
a**3

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [45]:
(1,2,3)**4

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [46]:
[1,2,4,4]**4

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [47]:
{1,2,4,5,4,3}

{1, 2, 3, 4, 5}

In [48]:
{1,3,2,4,5,6,9,8}*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [49]:
{1,5,6,4,3,2}*{5}

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [50]:
'w'*3

'www'

# Comparison (Relational) Operators

== > < >= <= !=, <>

In [54]:
'a'>"A"

True

In [55]:
2>5

False

In [56]:
5>=5

True

In [57]:
'A'>'B'

False

A=65 -> Z=90 a=97 -> z=122 0=48 -> 9=57

In [58]:
2==2

True

In [62]:
chr(65)

'A'

In [63]:
chr(122)

'z'

In [64]:
chr(97)

'a'

In [65]:
ord('a')

97

In [66]:
ord("Z")

90

In [67]:
ord("S")

83

In [68]:
3<4

True

In [69]:
'sohail'!='SOHAIL'

True

In [70]:
2!=4

True

# Assignment Operators

= += -= *= /= //= **= %=

In [71]:
a=4
print(a)

4

In [1]:
a=2
a+=2
a+=4
print(a)

8

In [2]:
a=10
a-=2
print(a)

8

In [4]:
a=2
a*=3
print(a)

6

In [8]:
a=39
a/=4
print(a)

9.75

In [7]:
a=39
a//=4
print(a)

9

In [9]:
a=24
a%=5
print(a)

4

In [11]:
a=3
a**=3
print(a)

27

In [13]:
a='A'
a+='B'
print(a)
print(type(a))

AB
<class 'str'>

In [14]:
a=[1,2,3,4]
a+=[4,5,6]
print(a)

[1, 2, 3, 4, 4, 5, 6]

In [15]:
a=(1,2,3,4,5)
a+=(7,8,9)
print(a)

(1, 2, 3, 4, 5, 7, 8, 9)

In [16]:
a={1,2,4,54,3,4}
a+={8,9,7}
print(a)

TypeError: unsupported operand type(s) for +=: 'set' and 'set'

# Logical Operators

and & or | not

In [17]:
True and True and True

True

In [18]:
True & True & True

True

In [19]:
True and False

False

In [20]:
True or False

True

In [25]:
Uname=input("Enter user name : ")
password=input("Enter password : ")
if Uname=="admin" and password == "123":
    print("Welcome to your account")
else:
    print("Wrong input")

Enter user name : admin
Enter password : 123
Welcome to your account

In [27]:
name=input("Enter user name ")
password=input('Enter password ')
if (name=='sohail' or 'arshad' or 'warraich') and password =='123':
    print("sucess fully login ")
else:
    print("You have enter wrong password or user name ")

Enter user name fkjff
Enter password 234
You have enter wrong password or user name

In [28]:
not(True)

False

In [29]:
not(False)

True

# Bitwise Operators

Nedd some clarifications
work on this later after clarification

# Membership Operators

in   not in

In [3]:
names=['sohail','Ali','Muhammad','Akbar']
i=0
while i <len(names):
    if names[i]=='Muhammad':
        print('Muhammad is present in the list')
#         i+=1 run four times and print four statments
    else:
        print('Not present')
#     i+=1   infinite loop
# I can't get what is the problem

SyntaxError: invalid syntax (<ipython-input-3-97cfaf4261cf>, line 7)

In [4]:
names=['sohail','aslam','waqas','ajmal','sher']
for i in names:
    print(names)
# Dry run of this program

['sohail', 'aslam', 'waqas', 'ajmal', 'sher']
['sohail', 'aslam', 'waqas', 'ajmal', 'sher']
['sohail', 'aslam', 'waqas', 'ajmal', 'sher']
['sohail', 'aslam', 'waqas', 'ajmal', 'sher']
['sohail', 'aslam', 'waqas', 'ajmal', 'sher']

In [5]:
names=['sohail','aslam','waqas','ajmal','sher']
for i in names:
    if names[i]=='ajmal':
        print('We get this')

TypeError: list indices must be integers or slices, not str

In [9]:
user=input("Enter users: ")
'pakistan' in user

Enter users: sohail aslam

False

In [10]:
'aslam' not in user

False

In [12]:
user=input()
user=user.split()
print(user)

sohail aslam waqas ajmal
['sohail', 'aslam', 'waqas', 'ajmal']

# Identity Operators

In [14]:
a='4'
b=4
c=b
print(a is b)
print(b is c)

False
True

In [17]:
print(id(a))
print(id(b))
print(id(c))

2577185589936
140735696183792
140735696183792

In [18]:
id(b)==id(c)

True

# Control Flow

if else elif

In [19]:
if True:
    print("Pakistan")
else:
    print("pakisgtan zindabad")

Pakistan

In [21]:
user=input("username : ")
pasword=input("password")
if user==('sohail'or 'arshad'or 'warraich') and pasword=='123':
    print("Welcome to your account")
else:
    print("Invalid user or password")

username : sohil
password123
Invalid user or password

In [24]:
name=['sohail','najam','anjum','bilal']
for i in name:
    print(name)
# Dry run of this code?

['sohail', 'najam', 'anjum', 'bilal']
['sohail', 'najam', 'anjum', 'bilal']
['sohail', 'najam', 'anjum', 'bilal']
['sohail', 'najam', 'anjum', 'bilal']

In [25]:
for i in name:
    print(i)
# dry run of this code?

sohail
najam
anjum
bilal